<div class="app-container">
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
    <mat-card>
        <div class="button-container">
            <div>
                <button
                    (click)="onClick()"
                    class="mat-button-customized"
                    [ngClass]="{ active: isActive }"
                >
                    BASIC
                </button>
            </div>
        </div>
    </mat-card>
</div>
